h2{
  color:red;
  
    
}

.player2{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    clear: both;

   
    
 
}

.p2t{
  float: right;
  clear: both;
    
    
}

h3
{
    text-align: center;
}

.mario2, .peach2, .bowser2{
float: left;
}